<footer class="text-center text-lg-start" style="background-color: #150336;">

    <div class="container d-flex justify-content-center py-5">
      <a target="blank" href="https://www.facebook.com/diego.almiron.7140/" type="button" class="btn btn-secondary btn-lg btn-floating mx-2">
        <i class="bi bi-facebook"></i>
      </a>
      <a target="blank" href="https://github.com/DiegoDavid17" type="button" class="btn btn-secondary btn-lg btn-floating mx-2">
        <i class="bi bi-github"></i>
      </a>
      <a target="blank" href="https://wa.me/543795315483" type="button" class="btn btn-secondary btn-lg btn-floating mx-2">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a target="blank" href="https://www.linkedin.com/in/diego-david-almir%C3%B3n-575832211" type="button" class="btn btn-secondary btn-lg btn-floating mx-2">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>

    <div class="row m-4 text-white">
      <div class="col-sm-4"><hr>
        <h4>GRACIAS POR SU ATENCIÓN</h4><hr>
        <P>Es de muchísimo agrado saber que llegó hasta aquí y espero que haya obtenido la información que buscaba.
          Por cualquier consulta no dude en contactarme a través del medio que usted lo desee. Desde ya, muchas gracias...
        </P>
      </div>
      <div class="col-sm-4"><hr>
        <h4>MI UBICACIÓN</h4><hr>
        <div class="panel-seccion">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1769.146736846467!2d-58.790904129928975!3d-27.522340240011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x773b88fb06b444df!2zMjfCsDMxJzIwLjgiUyA1OMKwNDcnMjQuNiJX!5e0!3m2!1ses!2sar!4v1648855553752!5m2!1ses!2sar" height="100%" width="100%"></iframe>
        </div>
      </div>
      <div class="col-sm-4"><hr>
        <h4>CONTACTO</h4><hr>
        <h6><i class="bi bi-geo-alt" ></i> Corrientes, Corrientes (Argentina)</h6>
        <h6><i class="bi bi-envelope"></i> <a style="text-decoration: none; color: #fff;" href="mailto:diegodavidalmiron17@gmail.com?Subject=Oferta%20de%20empleo"> diegodavidalmiron17@gmail.com</a></h6>
        <h6><i class="bi bi-phone"></i> + 54 3795 315483</h6>
        <h6><a target="blank" href="https://wa.me/543795315483" style="text-decoration: none; color: #fff;"> <i class="bi bi-whatsapp"></i> + 54 3795 315483</a></h6>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="">Todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
  </footer>
