<section class="panel-seccion" id="miExperiencia">
    <h1>
      <span class="float-left"><i class="bi bi-briefcase-fill"></i> Experiencia</span>
      <span *ngIf="logueado.logEstado==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalAgregarExperiencia"><i class="bi bi-plus-square-fill"></i></span>
    </h1>
    <div class="card mt-2 border border-dark" *ngFor="let item of miPortfolio.Experiencias; let indice=index">
      <!-- Header Carta -->
      <div class="card-header h4"><i class="bi bi-bookmark-fill"></i> {{item.puesto}}
        <span *ngIf="logueado.logEstado==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalEliminarExperiencia" (click)="mostrarExperiencia(indice)"><i class="bi bi-trash-fill"></i></span>
        <span *ngIf="logueado.logEstado==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalEditarExperiencia" (click)="mostrarExperiencia(indice)" ><i class="bi bi-pencil-fill"></i></span>
      </div>

      <!-- body Carta -->
      <div class="card-body">
        <h6>{{item.empresa}}</h6>
        <p>{{item.descripcion}}</p>
      </div>

      <!-- Footer Carta -->
      <div class="card-footer"> {{item.anioIngreso | date:'LLL yyyy'}} - {{item.anioEgreso | date:'LLL yyyy'}}</div>
    </div><br>
      <hr class="border border-2 border-dark">

      <!-- MODALES PARA LA EXPERIENCIA -->

      <!-- MODAL PARA AGREGAR UNA EXPERIENCIA-->
      <div class="modal" id="myModalAgregarExperiencia">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Agregar nueva Experiencia</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="form2add" (ngSubmit)="enviarExperienciaAdd($event)">
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-bookmark-fill"></i></span>
                  <input type="text" class="form-control" placeholder="puesto" name="puesto" formControlName="puesto" [ngModel]="puestoExperiencia">
                </div><br>
                <!-- Gracias al getter que configuramos en el controlador -->
                <div class="text-danger" *ngIf="Puesto?.errors  && Puesto?.touched">    
                  <p *ngIf="Puesto?.hasError('required')" class="error bi bi-x-circle">
                    El campo Puesto es obligatorio
                  </p>
                </div>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span>
                  <input type="text" class="form-control" placeholder="empresa" name="empresa" formControlName="empresa" [ngModel]="empresaExperiencia">
                </div><br>
                <!-- Gracias al getter que configuramos en el controlador -->
                <div class="text-danger" *ngIf="Empresa?.errors  && Empresa?.touched">    
                  <p *ngIf="Empresa?.hasError('required')" class="error bi bi-x-circle">
                    El campo Empresa es obligatorio
                  </p>
                </div>
                <p>Descripción del puesto:</p>
                <div class="input-group">
                  <textarea rows="7" type="text" class="form-control" placeholder="descripcion" name="descripcion" formControlName="descripcion" [ngModel]="descripcionExperiencia"></textarea>
                </div><br>
                <!-- Gracias al getter que configuramos en el controlador -->
                <div class="text-danger" *ngIf="Descripcion?.errors  && Descripcion?.touched">    
                  <p *ngIf="Descripcion?.hasError('required')" class="error bi bi-x-circle">
                    Hacer una descripción del puesto que ocupa (tareas)
                  </p>
                </div>
                <p>Fecha de ingreso:</p>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="Mes y Año de ingreso" name="anioIngreso" formControlName="anioIngreso" [ngModel]="anioIngresoExperiencia">
                </div><br>
                <!-- Gracias al getter que configuramos en el controlador -->
                <div class="text-danger" *ngIf="AnioIngreso?.errors  && AnioIngreso?.touched">    
                  <p *ngIf="AnioIngreso?.hasError('required')" class="error bi bi-x-circle">
                    Necesitamos una fecha aproximada de ingreso a la empresa
                  </p>
                </div>
                <p>Fecha de Egreso:</p>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="Mes y año egreso" name="anioEgreso" formControlName="anioEgreso" [ngModel]="anioEgresoExperiencia">
                </div><br>
                <div>
                    <button type="submit" class="btn btn-primary">Agregar <i class="bi bi-plus-square"></i></button>
                </div>
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonAddExperiencia>Cancelar</button>
            </div>
      
          </div>
        </div>
      </div>

        <!-- MODAL DE EDICION EXPERIENCIA -->
        <div class="modal" id="myModalEditarExperiencia" *ngFor="let item of miPortfolio.Titulos, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Experiencia</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="form2edit" (ngSubmit)="enviarExperienciaEdit($event,auxIndex)">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-bookmark-fill"></i></span>
                    <input type="text" class="form-control" placeholder="puesto" name="puesto" formControlName="puesto" [ngModel]="puestoExperienciaSelect">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="PuestoEdit?.errors  && PuestoEdit?.touched">    
                    <p *ngIf="PuestoEdit?.hasError('required')" class="error bi bi-x-circle">
                      El campo Puesto es obligatorio
                    </p>
                  </div>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span>
                    <input type="text" class="form-control" placeholder="empresa" name="empresa" formControlName="empresa" [ngModel]="empresaExperienciaSelect">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="EmpresaEdit?.errors  && EmpresaEdit?.touched">    
                    <p *ngIf="EmpresaEdit?.hasError('required')" class="error bi bi-x-circle">
                      El campo Empresa es obligatorio
                    </p>
                  </div>
                  <p>Descripción del puesto:</p>
                  <div class="input-group">
                    <textarea rows="7" type="text" class="form-control" placeholder="descripcion" name="descripcion" formControlName="descripcion" [ngModel]="descripcionExperienciaSelect"></textarea>
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="DescripcionEdit?.errors  && DescripcionEdit?.touched">    
                    <p *ngIf="DescripcionEdit?.hasError('required')" class="error bi bi-x-circle">
                      Hacer una descripción del puesto que ocupa (tareas)
                    </p>
                  </div>
                  <p>Fecha de Ingreso:</p>
                  <div class="input-group">
                    <input type="date" class="form-control" placeholder="Mes y Año de ingreso" name="anioIngreso" formControlName="anioIngreso" [ngModel]="anioIngresoExperienciaSelect">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="AnioIngresoEdit?.errors  && AnioIngresoEdit?.touched">    
                    <p *ngIf="AnioIngresoEdit?.hasError('required')" class="error bi bi-x-circle">
                      Necesitamos una fecha aproximada de ingreso a la empresa
                    </p>
                  </div>
                  <p>Fecha de Egreso:</p>
                  <div class="input-group">
                    <input type="date" class="form-control" placeholder="Mes y año egreso" name="anioEgreso" formControlName="anioEgreso" [ngModel]="anioEgresoExperienciaSelect">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="AnioEgreso?.errors  && AnioEgreso?.touched">    
                    <p *ngIf="AnioEgreso?.hasError('required')" class="error bi bi-x-circle">
                      Necesitamos una fecha aproximada de Egreso de la empresa
                    </p>
                  </div>
                  <div>
                      <!-- <button type="submit" class="btn btn-primary" (click)=" editarExperiencia(auxIndex)">Editar <i class="fa fa-pencil-square-o"></i></button> -->
                      <button type="submit" class="btn btn-primary">Editar <i class="bi bi-pencil-square"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEditarExperiencia>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- MODAL DE ELIMINACION DE EXPERIENCIA -->
        <div class="modal" id="myModalEliminarExperiencia" *ngFor="let item of miPortfolio.Titulos, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Eliminar Esta Experiencia?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="form2delete">
                    <h6>{{puestoExperienciaSelect}}</h6>
                    <p class="text-primary">{{empresaExperienciaSelect}}: </p>
                    <p>{{descripcionExperienciaSelect}}</p>
                  <div>
                      <button type="submit" class="btn btn-primary" (click)=" eliminarExperiencia(auxIndex)">Eliminar <i class="bi bi-trash"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEliminarExperiencia>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

      <!-- SECCIÓN EDUCACIÓN -->
      <h1>
        <span class="float-left" id="miEducacion"><i class="bi bi-mortarboard-fill"></i> Educación</span>
      </h1><br>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs border-t border-dark">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home">Institutos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#menu1">Certificados</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content card mt-2 border border-dark">
        <div class="tab-pane active" id="home">
          <span *ngIf="logueado.logEstado==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalAgregarTitulo"><i class="bi bi-plus-square-fill"></i></span>
          <h4 class=" card-header"><i class="bi bi-bank2"></i> Institutos</h4>
          <div class="col-md-12 col-md-offset-1">
            <div class="table-responsive">
             <table  class="table table-bordred table-striped table-hover">
                    <tr class="bg-primary text-white">
                        <th>Instituto</th>
                        <th>Titulo</th>
                        <th></th>
                        <th></th>
                        <th *ngIf="logueado.logEstado==1"></th>
                        <th *ngIf="logueado.logEstado==1"></th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let item of miPortfolio.Titulos; let indice=index">
                            <td>{{item.instituto}}</td>
                            <td>{{item.titulo}}</td>
                            <td></td>
                            <td></td>
                            <td *ngIf="logueado.logEstado==1"><button class="btn" data-bs-toggle="modal" data-bs-target="#myModalEditarTitulo" (click)="mostrarTitulo(indice)"><i class="bi bi-pencil-fill"></i></button></td>
                            <td *ngIf="logueado.logEstado==1"><button class="btn" data-bs-toggle="modal" data-bs-target="#myModalEliminarTitulo" (click)="mostrarTitulo(indice)"><i class="bi bi-trash-fill"></i></button></td>
                        </tr>
                    </tbody>
            </table>
          </div>
        </div>
        </div>

        <!-- MODAL PARA AGREGAR UN CENTRO EDUCATIVO-->
        <div class="modal" id="myModalAgregarTitulo">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Agregar una institución</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="form1add" (ngSubmit)="enviarTituloAdd($event)">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-bank2"></i></span>
                    <input type="text" class="form-control" placeholder="institución" name="instituto" formControlName="instituto" [ngModel]="nombreInstituto">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="Instituto?.errors  && Instituto?.touched">    
                    <p *ngIf="Instituto?.hasError('required')" class="error bi bi-x-circle">
                      El campo Institución es obligatorio
                    </p>
                  </div>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-patch-check-fill"></i></span>
                    <input type="text" class="form-control" placeholder="titulo" name="titulo" formControlName="titulo" [ngModel]="tituloInstituto">
                  </div><br>
                  <!-- Gracias al getter que configuramos en el controlador -->
                  <div class="text-danger" *ngIf="Titulo?.errors  && Titulo?.touched">    
                    <p *ngIf="Titulo?.hasError('required')" class="error bi bi-x-circle">
                      El campo Titulo es obligatorio
                    </p>
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary">Agregar <i class="bi bi-plus-square"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonAddInstituto>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

          <!-- MODAL DE EDICION EDUCACIÓN -->
          <div class="modal" id="myModalEditarTitulo" *ngFor="let item of miPortfolio.Titulos, let indice=index">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Editar Centro educativo</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <form [formGroup]="form1edit" (ngSubmit)="enviarTituloEdit($event, auxIndex)">
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-bank2"></i></span>
                      <input type="text" class="form-control" placeholder="institución" name="instituto" formControlName="instituto" [ngModel]="nombreInstitutoSelect">
                    </div><br>
                      <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="text-danger" *ngIf="InstitutoEdit?.errors  && InstitutoEdit?.touched">    
                      <p *ngIf="InstitutoEdit?.hasError('required')" class="error bi bi-x-circle">
                        El campo Institución es obligatorio
                      </p>
                    </div>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-patch-check-fill"></i></span>
                      <input type="text" class="form-control" placeholder="titulo" name="titulo" formControlName="titulo" [ngModel]="tituloInstitutoSelect">
                    </div><br>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="text-danger" *ngIf="TituloEdit?.errors  && TituloEdit?.touched">    
                      <p *ngIf="TituloEdit?.hasError('required')" class="error bi bi-x-circle">
                        El campo Titulo es obligatorio
                      </p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Editar <i class="bi bi-pencil-square"></i></button>
                    </div>
                  </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEditarInstituto>Cancelar</button>
                </div>
          
              </div>
            </div>
          </div>

          <!-- MODAL DE ELIMINACION DE CENTRO EDUCATIVO -->
          <div class="modal" id="myModalEliminarTitulo" *ngFor="let item of miPortfolio.Titulos, let indice=index">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Eliminar Centro educativo?</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <form [formGroup]="form1delete">
                      <h6>{{nombreInstitutoSelect}}</h6>
                      <p>{{tituloInstitutoSelect}}</p>
                    <div>
                        <button type="submit" class="btn btn-primary" (click)=" eliminarTitulo(auxIndex)">Eliminar <i class="bi bi-trash"></i></button>
                    </div>
                  </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEliminarInstituto>Cancelar</button>
                </div>
          
              </div>
            </div>
          </div>

        <div class="tab-pane fade card" id="menu1">
          <div>
            <h4 class="m-2 card-header"><i class="bi bi-award-fill"></i> Certificados</h4>
          </div>
          <div>
            <div class="card-body">
              <div class="row">
                <!-- d-grid sirve para que los botones ocupen el ancho total de la grilla -->
                <div class="col-sm-4 d-grid" *ngFor="let item of miPortfolio.Certificados; let indice=index">
                  <button class="btn btn-dark btn-block m-2" data-bs-toggle="modal" data-bs-target="#myModalCertificados" (click)="mostrarCertificado(indice)" style="background-color: rgb(5, 29, 238);">{{item.nombre}}</button>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>



      <!-- MODAL PARA VER LOS CERTIFICADOS -->
      <div class="modal" id="myModalCertificados">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{nombreSelect}}</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              
                <img src="../../../assets/certificdos/{{fotoSelect}}" alt="" height="100%" width="100%">
              
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>

          </div>
        </div>
      </div>


  </section> 

