<section class="panel-seccion" id="miExperiencia">
    <h1>
      <span class="float-left"><i class="fa fa-suitcase"></i> Experiencia</span>
      <!-- <span class="btn flotar-derecha"><i class="fa fa-plus-square-o"></i></span> -->
    </h1>
    <div class="card mt-2 border border-dark" *ngFor="let item of miPortfolio.Experiencias; let indice=index">
      <!-- Header Carta -->
      <div class="card-header h4"><i class="fa fa-bookmark"></i> {{item.puesto}}
        <!-- <span class="btn flotar-derecha"><i class="fa fa-trash-o"></i></span> -->
        <!-- <span class="btn flotar-derecha"><i class="fa fa-pencil"></i></span> -->
      </div>

      <!-- body Carta -->
      <div class="card-body">
        <h6>{{item.empresa}}</h6>
        <p>{{item.descripcion}}</p>
      </div>

      <!-- Footer Carta -->
      <div class="card-footer"> {{item.anioIngreso}} - {{item.anioEgreso}}</div>
    </div><br>
      <hr class="border border-2 border-dark">

      <!-- Seccion Educación -->
      <h1>
        <span class="float-left" id="miEducacion"><i class="fa fa-graduation-cap"></i> Educación</span>
        <!-- <span class="btn flotar-derecha" (click)="agregarTitulo()"><i class="fa fa-plus-square-o"></i></span> -->
      </h1><br>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs border-t border-dark">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home">Institutos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#menu1">Certificados</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content card mt-2 border border-dark">
        <div class="tab-pane active" id="home">
          <h4 class=" card-header"><i class="fa fa-institution"></i> Institutos</h4>
          <div class="col-md-12 col-md-offset-1">
            <div class="table-responsive">
             <table  class="table table-bordred table-striped table-hover">
                    <tr class="bg-secondary text-white">
                        <th>Instituto</th>
                        <th>Titulo</th>
                        <th></th>
                        <th></th>
                        <!-- <th></th> -->
                        <!-- <th></th> -->
                    </tr>
                    <tbody>
                        <tr *ngFor="let item of miPortfolio.Titulos; let indice=index">
                            <td>{{item.instituto}}</td>
                            <td>{{item.titulo}}</td>
                            <td></td>
                            <td></td>
                            <!-- <td><button class="btn" (click)="editarTitulo(indice)"><i class="fa fa-pencil"></i></button></td> -->
                            <!-- <td><button class="btn" (click)="eliminarTitulo(indice)"><i class="fa fa-trash-o"></i></button></td> -->
                        </tr>
                    </tbody>
            </table>
          </div>
        </div>
        </div>
        
        <div class="tab-pane fade card" id="menu1">
          <div>
            <h4 class="m-2 card-header"><i class="fa fa-certificate"></i> Certificados</h4>
          </div>
          <div>
            <div class="card-body">
              <span *ngFor="let item of miPortfolio.Certificados; let indice=index">
                <button class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#myModalCertificados" (click)="mostrarCertificado(indice)">{{item.nombre}}</button>
              </span>
            </div>
          </div>
          </div>
      </div>

      <!-- The Modal -->
      <div class="modal" id="myModalCertificados">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{nombreSelect}}</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              
                <img src="../../../assets/certificdos/{{fotoSelect}}" alt="" height="100%" width="100%">
              
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>

          </div>
        </div>
      </div>


  </section> 

