<header *ngFor="let item of miPortfolio, let indice=index">
    <div class="edit1" *ngIf="logueado.logEstado==1"> 
      <h6 class="btn btn-outline-light rounded-circle" (click)="cambiarFotoPortada(indice)"><i class="	fa fa-camera"></i></h6>
    </div>
    <img class="imgFondo shadow-lg" src="../../../assets/{{item.image_portada}}" alt="">
    <div class="edit2" *ngIf="logueado.logEstado==1"> 
      <h6 class="btn btn-outline-dark rounded-circle" (click)="cambiarFotoPerfil(indice)"><i class="	fa fa-camera"></i></h6>
    </div>
    <img class="imgPerfil shadow-lg" src="../../../assets/{{item.image_perfil}}" alt="">
  <div class="panel-seccion mt-4">
    <h1 class="nombre-usuario" id="nombreUsuario">{{item.nombres + ' ' + item.apellido}}
      <a href="#"  class="btn" data-bs-toggle="modal" data-bs-target="#myModalInfoPersonal" *ngIf="logueado.logEstado==1"><i class="fa fa-pencil"></i></a>
    </h1><br>
  <div class="card border border-dark bg-white">
    <div>
      <h5 class="descripcion text-dark mt-2">{{item.ocupacion}}</h5>
      <h6 class="descripcion text-dark"><i class="fa fa-home"></i> {{' ' + item.localidad + ', ' + item.provincia + ' (' + item.pais + ')'}} </h6>
      <h6 class="descripcion text-dark"><i class="fa fa-envelope-o"></i> {{' ' + item.mail}}</h6>
      <h6 class="descripcion text-dark"><i class="fa fa-mobile-phone"></i> {{' ' +item.celular}}</h6>
      <br>
    </div>
     <!-- <button type="button" class="descripcion btn btn-outline-secondary m-2" data-bs-toggle="modal" data-bs-target="#myModalInfoPersonal" *ngIf="logueado.logEstado==1"> Editar información Personal <i class="fa fa-pencil-square-o"></i></button> -->
  </div>
</div>
</header>
  
  <nav class="navbar navbar-expand-lg navbar-dark m-2 rounded" style="background-color: rgb(249, 253, 251); border: #000 solid 1px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"></a>
      <button class="navbar-toggler border border-1 border-dark m-1" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars" style="color:#000; font-size:28px;"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse text-center" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item btn border border-1 border-dark m-1">
            <a class="navbar-brand text-dark" href="javascript:void(0)" data-toggle="tab" href="#aCercaDe">A CERCA DE</a>
          </li>
          <li class="nav-item btn border border-1 border-dark m-1">
            <a class="navbar-brand text-dark" href="javascript:void(0)" data-toggle="tab" href="#miExperiencia">EXPERIENCIA</a>
          </li>
          <li class="nav-item btn border border-1 border-dark m-1">
            <a class="navbar-brand text-dark" href="javascript:void(0)" data-toggle="tab" href="#miEducacion">EDUCACIÓN</a>
          </li>
          <li class="nav-item btn border border-1 border-dark m-1">
            <a class="navbar-brand text-dark" href="javascript:void(0)" data-toggle="tab" href="#misHabilidades">HABILIDADES</a>
          </li>
          <li class="nav-item btn border border-1 border-dark m-1">
            <a class="navbar-brand text-dark" href="javascript:void(0)" data-toggle="tab" href="#misProyectos">PROYECTOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  <!-- The Modal -->
  <div class="modal" id="myModalInfoPersonal" *ngFor="let item of miPortfolio, let indice=index">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Mis datos personales</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onEnviar($event, indice)">
            <div class="input-group">
              <span class="input-group-text"><i class="	fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Nombres" name="nombres" formControlName="nombres" [ngModel]="item.nombres">
            </div><br>
            <!-- Gracias al getter que configuramos en el controlador -->
            <div class="text-danger" *ngIf="Nombres?.errors  && Nombres?.touched">    
              <p *ngIf="Nombres?.hasError('required')" class="error">
                El campo Nombres es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="	fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Apellido" name="apellido" formControlName="apellido" [ngModel]="item.apellido">
            </div><br>
            <div class="text-danger" *ngIf="Apellido?.errors  && Apellido?.touched">    
              <p *ngIf="Apellido?.hasError('required')" class="error">
                El campo Apellido es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
              <!-- <input type="text" class="form-control" placeholder="ocupacion" name="ocupacion" [value]="item.ocupacion"> -->
              <input type="text" class="form-control" placeholder="Ocupacion" name="ocupacion" formControlName="ocupacion" [ngModel]="item.ocupacion">
            </div><br>
            <div class="text-danger" *ngIf="Ocupacion?.errors  && Ocupacion?.touched">    
              <p *ngIf="Ocupacion?.hasError('required')" class="error">
                El campo Ocupacion es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-home"></i></span>
              <input type="text" class="form-control" placeholder="Localidad" name="localidad" formControlName="localidad" [ngModel]="item.localidad">
            </div><br>
            <div class="text-danger" *ngIf="Localidad?.errors  && Localidad?.touched">    
              <p *ngIf="Localidad?.hasError('required')" class="error">
                El campo Localidad es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-home"></i></span>
              <input type="text" class="form-control" placeholder="Provincia" name="provincia" formControlName="provincia" [ngModel]="item.provincia">
            </div><br>
            <div class="text-danger" *ngIf="Provincia?.errors  && Provincia?.touched">    
              <p *ngIf="Provincia?.hasError('required')" class="error">
                El campo Provincia es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-home"></i></span>
              <input type="text" class="form-control" placeholder="País" name="pais" formControlName="pais" [ngModel]="item.pais">
            </div><br>
            <div class="text-danger" *ngIf="Pais?.errors  && Pais?.touched">    
              <p *ngIf="Pais?.hasError('required')" class="error">
                El campo Pais es obligatorio
              </p>
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
              <input type="text" class="form-control" placeholder="Correo" name="correo" formControlName="mail" [ngModel]="item.mail">
            </div><br>
            <div class="text-danger" *ngIf="Mail?.errors  && Mail?.touched">    
              <p *ngIf="Mail?.hasError('required')" class="error">
                El campo Correo es obligatorio
              </p>
            </div>
            <p  class="text-danger">{{mensajeMail}}</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
              <input type="text" class="form-control" placeholder="Celular" name="celular" formControlName="celular" [ngModel]="item.celular">
            </div><br>
            <div class="text-danger" *ngIf="Celular?.errors  && Celular?.touched">    
              <p *ngIf="Celular?.hasError('required')" class="error">
                El campo Celular es obligatorio
              </p>
            </div>
            <p  class="text-danger">{{mensajeNum}}</p>
            <div>
                <button type="submit" class="btn btn-primary" >Editar <i class="fa fa-pencil-square-o"></i></button>
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebutton>Cancelar</button>
        </div>
  
      </div>
    </div>
  </div>
