<span #closebuttonBienvenido (click)="simpleAlert()"></span>
<nav class="navegador" style="background-color: rgb(34, 3, 70);"> 
  <a routerLink="/"><img src="../../../assets/ArgentinaProgramaLogo.png" alt="" style="height: 100%;"></a>
  <!-- la clase login hace que la palabra #YoProgramo se oculte en resoluciones de pantalla muy bajas -->
  <span class="login">#YoProgramo</span>
    <div class="flotar-derecha">
      <a target="blank" href="https://github.com/DiegoDavid17" class="redsoc btn btn-outline-light btn-lg bi bi-github"></a>
      <a target="blank" href="https://www.linkedin.com/in/diego-david-almir%C3%B3n-575832211" class="redsoc btn btn-outline-light btn-lg bi bi-linkedin"></a>
      <a target="blank" href="https://wa.me/543795315483" class="redsoc btn btn-outline-light btn-lg bi bi-whatsapp"></a>
      <button *ngIf="logueado.logEstado==0" class="btn btn-outline-light btn-lg bi bi-person-circle" data-bs-toggle="modal" data-bs-target="#myModalLogin"> <span class="login"> Login</span></button>
      <button (click)="logueado.logout()" *ngIf="logueado.logEstado==1" class="btn btn-outline-light btn-lg bi bi-power" > <span class="login"> Logout</span></button>
    </div> 
  </nav>  
  <!-- The Modal -->
  <div class="modal" id="myModalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-center">Iniciar Sesión</h4>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal"></button>
      </div>
  
      <!-- Modal body -->
      <div class="modal-body">
        <h1 class="text-center" style="color:skyblue; font-size: 100px;"><i class="bi bi-person"></i></h1>
        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
          <p class="text-danger text-center">{{mensaje}}</p>
          <div class="mb-3 mt-3">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-person"></i></span>
              <input class="form-control" formControlName="email" placeholder="Correo">
            </div>
          </div>

          <!-- Gracias al getter que configuramos en el controlador -->
          <div class="text-danger" *ngIf="Mail?.errors  && Mail?.touched">    
            <p *ngIf="Mail?.hasError('required')" class="error bi bi-x-circle">
                Ingrese su correo
            </p>
            <p *ngIf="Mail?.hasError('email')" class="error bi bi-x-circle">
                El formato mail user@gmail.com
              </p>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
              <input type="password" class="form-control" placeholder="Escriba Contraseña" formControlName="password">
            </div>
          </div>

          <!-- Gracias al getter que configuramos en el controlador -->
          <div class="text-danger" *ngIf="Password?.errors  && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="error bi bi-x-circle">
              Ingrese su contraseña
            </p>
            <p *ngIf="Password?.hasError('minlength')" class="error bi bi-x-circle">
              La contraseña debe tener al menos 8 caracteres.
            </p>
            <p *ngIf="Password?.hasError('maxlength')" class="error bi bi-x-circle">
              La contraseña debe tener un máximo de 15 caracteres.
            </p>
          </div>

          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Recordar Mis datos
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="close btn btn-danger" data-bs-dismiss="modal"  #closebutton>Salir</button>
      </div>
  
    </div>
  </div>
  </div>
