<section class="panel-seccion" id="misHabilidades" style="text-align: justify;">
    <h1>
      <span class="float-left m-2"><i class="bi bi-clipboard-data-fill"></i> Habilidades</span>
    </h1><br>

    <div class="card mb-2 border border-dark">
      <div class="card-header">
        <h5>
          Información del porcentual de habilidad:
        </h5>
      </div>
      <div class="card-body">
        <p>El porcentual de habilidad se otorga de acuerdo al nivel de conocimiento que tiene sobre la habilidad especificada en 5 niveles.
           Dentro del cual adquiere 20% de dicha habilidad por cada nivel alcanzado, los niveles se especifican en la siguiente tabla con sus categorias ordenadas en forma ascendente:</p>
        <div class="">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Nivel de Habilidad</th>
                <th>Porcentaje del nivel</th>
                <th></th>
              </tr>
              <tbody>
                <tr>
                  <td>Regular</td>
                  <td>20%</td>
                  <td class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </td>
                </tr>
                <tr>
                  <td>Básico</td>
                  <td>40%</td>
                  <td class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </td>
                </tr>
                <tr>
                  <td>Bueno</td>
                  <td>60%</td>
                  <td class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                  </td>
                </tr>
                <tr>
                  <td>Muy Bueno</td>
                  <td>80%</td>
                  <td class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </td>
                </tr>
                <tr>
                  <td>Excelente</td>
                  <td>100%</td>
                  <td class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




    <!-- Navegador de habilidades tiene dos secciones  -->
    <ul class="nav nav-tabs border-t border-dark">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#habBlandas">Habilidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#habTecno">Tecnologías</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-4">
      <div class="tab-pane container active" id="habBlandas">
        <span *ngIf="logueado.logueadoEstado()==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalAgregarHabilidad"><i class="bi bi-plus-square-fill"></i></span>
        <h5 class="text-center m-2"><i class="bi bi-lightbulb"></i> Habilidades Blandas</h5><hr>
        <!-- Diseño nuevo -->
          <div class="row text-center">
            <span class="col-sm-4 d-grid" *ngFor="let item of misHabilidades; let indice=index"><br>
              <span [ngSwitch]="item.progreso">
                <span *ngSwitchCase="20" class="card border border-dark">
                    <span class="h5 card-header">{{item.nombreHabilidad +': '}}</span>
                    <div class="card-body">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.progreso" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.progreso}}%</div>
                      </div>
                    </div>
                    <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                    <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                    <span class="h6 text-primary card-footer">{{item.decripcionProgreso}}
                      <div class="text-warning">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </span>
                </span>
                <span *ngSwitchCase="40" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreHabilidad +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.progreso" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.progreso}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionProgreso}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="60" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreHabilidad +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.progreso" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.progreso}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionProgreso}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="80" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreHabilidad +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.progreso" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.progreso}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionProgreso}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="100" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreHabilidad +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.progreso" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.progreso}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarHabilidad" (click)="mostrarHabilidad(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionProgreso}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </span>
                </span>
              </span>
            </span>
          </div>
      </div>

      <div class="tab-pane container fade" id="habTecno">
        <span *ngIf="logueado.logueadoEstado()==1" class="btn flotar-derecha" data-bs-toggle="modal" data-bs-target="#myModalAgregarTecnologia"><i class="bi bi-plus-square-fill"></i></span>
        <h5 class="text-center m-2"><i class="bi bi-wrench"></i> Herramientas y Lenguajes de Programación</h5><hr>
          <!-- Nuevo diseño -->
          <div class="row text-center">
            <span class="col-sm-4 d-grid" *ngFor="let item of misTecnologias; let indice=index"><br>
              <span [ngSwitch]="item.nivel">
                <span *ngSwitchCase="20" class="card border border-dark">
                    <span class="h5 card-header">{{item.nombreTecnologia +': '}}</span>
                    <div class="card-body">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.nivel" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.nivel}}%</div>
                      </div>
                    </div>
                    <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                    <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                    <span class="h6 text-primary card-footer">{{item.decripcionNivel}}
                      <div class="text-warning">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </span>
                </span>
                <span *ngSwitchCase="40" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreTecnologia +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.nivel" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.nivel}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionNivel}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="60" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreTecnologia +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.nivel" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.nivel}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionNivel}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="80" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreTecnologia +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.nivel" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.nivel}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionNivel}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </span>
                </span>
                <span *ngSwitchCase="100" class="card border border-dark">
                  <span class="h5 card-header">{{item.nombreTecnologia +': '}}</span>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="item.nivel" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{item.nivel}}%</div>
                    </div>
                  </div>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-pencil-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEditarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <button *ngIf="logueado.logueadoEstado()==1" class="btn btn-outline-dark bi bi-trash-fill m-2" data-bs-toggle="modal" data-bs-target="#myModalEliminarTecnologia" (click)="mostrarTecnologia(indice)"></button>
                  <span class="h6 text-primary card-footer">{{item.decripcionNivel}}
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </span>
                </span>
              </span>
            </span>
          </div>
      </div>
    </div>

    <!-- MODALES PARA LAS HABILIDADES ------------------------------------------------------------------------------------------------------------------------>

      <!-- MODAL PARA AGREGAR UNA HABILIDAD-->
      <div class="modal" id="myModalAgregarHabilidad">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Agregar nueva Habilidad</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="formHabilidadAdd" (ngSubmit)="enviarHabilidadAdd($event)">
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-lightbulb"></i></span>
                  <input type="text" class="form-control" placeholder="Nombre de la habilidad" name="nombreHabilidad" formControlName="nombreHabilidad" [ngModel]="nombreDeHabilidad">
                </div><br>
                <div class="text-danger" *ngIf="NombreHabilidad?.errors  && NombreHabilidad?.touched">    
                  <p *ngIf="NombreHabilidad?.hasError('required')" class="error bi bi-x-circle">
                    El Nombre de la habilidad es obligatorio
                  </p>
                </div>
                  <p>Nivel de la habilidad</p>
                  <select type="text" class="form-select" name="progreso" placeholder="Nivel de la habilidad" formControlName="progreso" [ngModel]="progresoDeHabilidad">
                    <option value="20">Regular 20%</option>
                    <option value="40">Básico 40%</option>
                    <option value="60">Bueno 60%</option>
                    <option value="80">Muy bueno 80%</option>
                    <option value="100">Excelente 100%</option>
                  </select><br>
                  <div class="text-danger" *ngIf="Progreso?.errors  && Progreso?.touched">    
                    <p *ngIf="Progreso?.hasError('required')" class="error bi bi-x-circle">
                      Seleccione un nivel de habilidad
                    </p>
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary">Agregar <i class="bi bi-plus-square"></i></button>
                </div>
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonAddHabilidad>Cancelar</button>
            </div>
      
          </div>
        </div>
      </div>

        <!-- MODAL DE EDICION HABILIDAD -->
        <div class="modal" id="myModalEditarHabilidad" *ngFor="let item of misHabilidades, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Habilidad</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="formHabilidadEdit" (ngSubmit)="enviarHabilidadEdit($event,auxIndex)">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lightbulb"></i></span>
                    <input type="text" class="form-control" placeholder="nombre De Habilidad" name="nombreHabilidad" formControlName="nombreHabilidad" [ngModel]="nombreHabilidadSelect">
                  </div><br>
                  <div class="text-danger" *ngIf="NombreHabilidadEdit?.errors  && NombreHabilidadEdit?.touched">    
                    <p *ngIf="NombreHabilidadEdit?.hasError('required')" class="error bi bi-x-circle">
                      El Nombre de la habilidad es obligatorio
                    </p>
                  </div>
                  <p>Nivel de la habilidad</p>
                  <select type="text" class="form-select" name="progreso" formControlName="progreso" [ngModel]="progresoSelect">
                    <option value="20">Regular 20%</option>
                    <option value="40">Básico 40%</option>
                    <option value="60">Bueno 60%</option>
                    <option value="80">Muy bueno 80%</option>
                    <option value="100">Excelente 100%</option>
                  </select><br>
                  <div class="text-danger" *ngIf="ProgresoEdit?.errors  && ProgresoEdit?.touched">    
                    <p *ngIf="ProgresoEdit?.hasError('required')" class="error bi bi-x-circle">
                      Seleccione un nivel de habilidad
                    </p>
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary">Editar <i class="bi bi-pencil-square"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEditarHabilidad>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- MODAL DE ELIMINACION DE HABILIDAD -->
        <div class="modal" id="myModalEliminarHabilidad" *ngFor="let item of misHabilidades, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Eliminar Esta Habilidad?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="formHabilidadDelete">
                    <h6>{{nombreHabilidadSelect}}</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="progresoSelect" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{progresoSelect}}%</div>
                    </div><br>
                  <div>
                      <button type="submit" class="btn btn-primary" (click)=" eliminarHabilidad(auxIndex)">Eliminar <i class="bi bi-trash"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEliminarHabilidad>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

      <!-- MODALES PARA LAS TECNOLOGÍAS ---------------------------------------------------------------------------------------------------->

      <!-- MODAL PARA AGREGAR UNA TECNOLOGIA-->
      <div class="modal" id="myModalAgregarTecnologia">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Agregar nueva Tecnología</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="formTecnologiaAadd" (ngSubmit)="enviarTecnologiaAdd($event)">
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-wrench"></i></span>
                  <input type="text" class="form-control" placeholder="Nombre de la tecnologia" name="nombreTecnologia" formControlName="nombreTecnologia" [ngModel]="nombreDeTecnologia">
                </div><br>
                <div class="text-danger" *ngIf="NombreTecnologiaAdd?.errors  && NombreTecnologiaAdd?.touched">    
                  <p *ngIf="NombreTecnologiaAdd?.hasError('required')" class="error bi bi-x-circle">
                    El Nombre de la Tecnología es obligatorio
                  </p>
                </div>
                <p>Nivel de conocimiento</p>
                  <select type="text" class="form-select" name="nivel" formControlName="nivel" [ngModel]="nivelDeTecnologia">
                    <option value="20">Regular 20%</option>
                    <option value="40">Básico 40%</option>
                    <option value="60">Bueno 60%</option>
                    <option value="80">Muy bueno 80%</option>
                    <option value="100">Excelente 100%</option>
                  </select><br>
                  <div class="text-danger" *ngIf="NivelAdd?.errors  && NivelAdd?.touched">    
                    <p *ngIf="NivelAdd?.hasError('required')" class="error bi bi-x-circle">
                      Seleccione un nivel de conocimiento
                    </p>
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary">Agregar <i class="bi bi-plus-square"></i></button>
                </div>
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonAddTecnologia>Cancelar</button>
            </div>
      
          </div>
        </div>
      </div>

        <!-- MODAL DE EDICION TECNOLOGÍA -->
        <div class="modal" id="myModalEditarTecnologia" *ngFor="let item of misTecnologias, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar Tecnología</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="formTecnologiaEdit" (ngSubmit)="enviarTecnologiaEdit($event,auxIndex)">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-wrench"></i></span>
                    <input type="text" class="form-control" placeholder="nombre De la tecnología" name="nombreTecnologia" formControlName="nombreTecnologia" [ngModel]="nombreTecnologiaSelect">
                  </div><br>
                  <div class="text-danger" *ngIf="NombreTecnologiaEdit?.errors  && NombreTecnologiaEdit?.touched">    
                    <p *ngIf="NombreTecnologiaEdit?.hasError('required')" class="error bi bi-x-circle">
                      El Nombre de la Tecnología es obligatorio
                    </p>
                  </div>
                  <p>Nivel de conocimiento</p>
                  <select type="text" class="form-select" name="nivel" formControlName="nivel" [ngModel]="nivelSelect">
                    <option value="20">Regular 20%</option>
                    <option value="40">Básico 40%</option>
                    <option value="60">Bueno 60%</option>
                    <option value="80">Muy bueno 80%</option>
                    <option value="100">Excelente 100%</option>
                  </select><br>
                  <div class="text-danger" *ngIf="NivelEdit?.errors  && NivelEdit?.touched">    
                    <p *ngIf="NivelEdit?.hasError('required')" class="error bi bi-x-circle">
                      Seleccione un nivel de conocimiento
                    </p>
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary">Editar <i class="bi bi-pencil-square"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEditarTecnologia>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- MODAL DE ELIMINACION DE TECNOLOGÍA -->
        <div class="modal" id="myModalEliminarTecnologia" *ngFor="let item of misTecnologias, let indice=index">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Eliminar Esta Tecnología?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="formTecnologiaDelete">
                    <h6>{{nombreTecnologiaSelect}}</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="nivelSelect" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(1, 48, 38);">{{nivelSelect}}%</div>
                    </div><br>
                  <div>
                      <button type="submit" class="btn btn-primary" (click)=" eliminarTecnologia(auxIndex)">Eliminar <i class="bi bi-trash"></i></button>
                  </div>
                </form>
              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #closebuttonEliminarTecnologia>Cancelar</button>
              </div>
        
            </div>
          </div>
        </div>

</section>